// .logo--corr,
// img[src*="logo_taptoe"] {
//   filter: saturate(1.3);
// }

.container--smaller {
    max-width: 1120px;
}

.row--wide {
    --bs-gutter-x: 5rem;
}

.w-fit {
    width: fit-content;
}

.font--sub {
    font-family: $fontSub;
}

.small, small {
    font-size: .9rem;
}

.linkify {
    color: #44A08C !important;
}

.text--user-input, .text--user-input * {
    font-family: $fontSub;
    color: $grey600;
}

@for $i from 1 through 9 {
    $i: ($i * 100);
    .font-weight--#{$i} {font-weight: $i;}
}

@for $i from 0 through 9 {
    $value: ($i * 0.1);
    .opacity--#{$i} {opacity: $value !important;}
}

$accents: (
    'main': #44A08C,
    'second': #33655B,
    'blue600': #112244,
    'blue500': #062B6A,
    'purple': #621C31,
    'brown': #82330E,
    'red': #AE002D,
    'grey200': #e9e9e9,
    'grey300': #FAFAFA,
    'grey400': #EBEBEB,
    'grey500': #D0D0D0,
    'grey600': #868686,
    'grey700': #767676,
);

@each $name, $hex in $accents {
    .color--#{$name} {color: $hex !important}
    .bg-color--#{$name} {background-color: $hex !important}
}
