// .logo--corr,
// img[src*="logo_taptoe"] {
//   filter: saturate(1.3);
// }

.w-fit {
    width: fit-content;
}

.text--user-input, .text--user-input * {
    font-family: $fontSub;
    color: $grey600;
}

@for $i from 1 through 9 {
    $i: ($i * 100);
    .font-weight--#{$i} {font-weight: $i;}
}

$accents: (
    'main': #44A08C,
    'second': #33655B,
    'blue600': #112244,
    'blue500': #062B6A,
    'purple': #621C31,
    'brown': #82330E,
    'red': #AE002D,
    'grey300': #FAFAFA,
    'grey400': #EBEBEB,
    'grey500': #D0D0D0,
    'grey600': #868686,
    'grey700': #767676,
);

@each $name, $hex in $accents {
    .color--#{$name} {color: $hex !important}
    .bg-color--#{$name} {background-color: $hex !important}
}
