$fontSystem: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$fontMain: stratos, sans-serif;
$fontSub: parisplus-std, sans-serif;
$bdRadius: 10px;

$grey200: rgb(233, 233, 233);
