@charset "UTF-8";
/* rbr */
.m-6 {
  margin: 5rem;
}

.mt-6 {
  margin-top: 5rem;
}

.mb-6 {
  margin-bottom: 5rem;
}

.ml-6 {
  margin-left: 5rem;
}

.mr-6 {
  margin-right: 5rem;
}

@media (min-width: 576px) {
  .m-sm-6 {
    margin-null: 5rem;
  }

  .mt-sm-6 {
    margin-top: 5rem;
  }

  .mb-sm-6 {
    margin-bottom: 5rem;
  }

  .ml-sm-6 {
    margin-left: 5rem;
  }

  .mr-sm-6 {
    margin-right: 5rem;
  }
}
@media (min-width: 768px) {
  .m-md-6 {
    margin-null: 5rem;
  }

  .mt-md-6 {
    margin-top: 5rem;
  }

  .mb-md-6 {
    margin-bottom: 5rem;
  }

  .ml-md-6 {
    margin-left: 5rem;
  }

  .mr-md-6 {
    margin-right: 5rem;
  }
}
@media (min-width: 992px) {
  .m-lg-6 {
    margin-null: 5rem;
  }

  .mt-lg-6 {
    margin-top: 5rem;
  }

  .mb-lg-6 {
    margin-bottom: 5rem;
  }

  .ml-lg-6 {
    margin-left: 5rem;
  }

  .mr-lg-6 {
    margin-right: 5rem;
  }
}
@media (min-width: 1200px) {
  .m-xl-6 {
    margin-null: 5rem;
  }

  .mt-xl-6 {
    margin-top: 5rem;
  }

  .mb-xl-6 {
    margin-bottom: 5rem;
  }

  .ml-xl-6 {
    margin-left: 5rem;
  }

  .mr-xl-6 {
    margin-right: 5rem;
  }
}
.container--smaller {
  max-width: 1120px;
}

.row--wide {
  --bs-gutter-x: 5rem;
}

.w-fit {
  width: fit-content;
}

.font--sub {
  font-family: parisplus-std, sans-serif;
}

.small, small {
  font-size: 0.9rem;
}

.text--user-input, .text--user-input * {
  font-family: parisplus-std, sans-serif;
  color: #868686;
}

.font-weight--100 {
  font-weight: 100;
}

.font-weight--200 {
  font-weight: 200;
}

.font-weight--300 {
  font-weight: 300;
}

.font-weight--400 {
  font-weight: 400;
}

.font-weight--500 {
  font-weight: 500;
}

.font-weight--600 {
  font-weight: 600;
}

.font-weight--700 {
  font-weight: 700;
}

.font-weight--800 {
  font-weight: 800;
}

.font-weight--900 {
  font-weight: 900;
}

.opacity--0 {
  opacity: 0 !important;
}

.opacity--1 {
  opacity: 0.1 !important;
}

.opacity--2 {
  opacity: 0.2 !important;
}

.opacity--3 {
  opacity: 0.3 !important;
}

.opacity--4 {
  opacity: 0.4 !important;
}

.opacity--5 {
  opacity: 0.5 !important;
}

.opacity--6 {
  opacity: 0.6 !important;
}

.opacity--7 {
  opacity: 0.7 !important;
}

.opacity--8 {
  opacity: 0.8 !important;
}

.opacity--9 {
  opacity: 0.9 !important;
}

.color--main, [data-theme-sub=listing-detail] .listing-card__contact-detail, [data-theme-sub=listing-detail] .listing-card__contact-detail a {
  color: #44A08C !important;
}

.bg-color--main, .mapbox__marker {
  background-color: #44A08C !important;
}

.color--second, [data-label=accountIntroduction] span {
  color: #33655B !important;
}

.bg-color--second, .btn--main {
  background-color: #33655B !important;
}

.color--blue600 {
  color: #112244 !important;
}

.bg-color--blue600 {
  background-color: #112244 !important;
}

.color--blue500 {
  color: #062B6A !important;
}

.bg-color--blue500 {
  background-color: #062B6A !important;
}

.color--purple {
  color: #621C31 !important;
}

.bg-color--purple {
  background-color: #621C31 !important;
}

.color--brown {
  color: #82330E !important;
}

.bg-color--brown {
  background-color: #82330E !important;
}

.color--red {
  color: #AE002D !important;
}

.bg-color--red {
  background-color: #AE002D !important;
}

.color--grey300 {
  color: #FAFAFA !important;
}

.bg-color--grey300 {
  background-color: #FAFAFA !important;
}

.color--grey400 {
  color: #EBEBEB !important;
}

.bg-color--grey400, .footer__wrapper {
  background-color: #EBEBEB !important;
}

.color--grey500 {
  color: #D0D0D0 !important;
}

.bg-color--grey500 {
  background-color: #D0D0D0 !important;
}

.color--grey600, .listing-card__location, [data-theme=page] .listing-card .listing__location, [data-theme=page] .listing-card .listing__capacity, [data-theme=default] .listing-card .listing__location, [data-theme=default] .listing-card .listing__capacity {
  color: #868686 !important;
}

.bg-color--grey600, .mapbox .mapboxgl-popup .mapbox__marker {
  background-color: #868686 !important;
}

.color--grey700 {
  color: #767676 !important;
}

.bg-color--grey700 {
  background-color: #767676 !important;
}

* {
  transition: all 0.3s ease;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: initial;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

a, a:hover {
  text-decoration: none;
  color: initial;
}

iframe, iframe:focus, iframe:focus-within, canvas, canvas:focus, canvas:focus-within {
  outline: none;
}

* {
  font-family: stratos, sans-serif;
}

.feather {
  stroke-width: 2px;
}

.mapbox {
  width: 100%;
  height: 400px;
}
.mapbox, .mapbox * {
  transition: none;
}
.mapbox .mapboxgl-ctrl-bottom-right,
.mapbox .mapboxgl-ctrl-bottom-left {
  display: none;
}
.mapbox .mapboxgl-popup-content {
  min-width: 200px;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}
.mapbox .mapboxgl-popup-tip {
  border: none;
  width: 40px;
  height: 13px;
  background-image: url("../images/map_listing_tip.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.mapbox .mapboxgl-popup .mapbox__marker {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.mapbox__marker {
  --size: 12px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  cursor: pointer;
}
.mapbox-wrapper [data-label=listingsView] {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #33655B;
  user-select: none;
}
.mapbox-wrapper [data-label=listingsView] * {
  color: white;
}

[data-theme-sub=listing-detail] .mapbox--detail-view {
  height: 220px;
}

[data-theme-sub=listingsOverview] .mapbox.sesam.sesam-hidden {
  display: block;
  max-height: 111px;
  overflow: hidden;
  pointer-events: none;
}

[data-sesam-target].sesam.sesam-hidden {
  display: none;
}

i.uil {
  font-size: 1.5rem;
}
i.uil.icon--large {
  font-size: 2rem;
}

input, select {
  border: none;
}
input, input:focus, input:focus-within, select, select:focus, select:focus-within {
  border: none;
  outline: none;
  box-shadow: none;
}

.input__choice {
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}
.input__choice:last-child {
  margin-bottom: 0;
}
.input__choice label {
  display: block;
  margin-right: 1rem;
}
.input__choice label:last-child {
  margin-right: 0;
}
.input__choice label span {
  display: block;
  padding: 0.6rem 1rem;
  background-color: #D0D0D0;
  border-radius: 10px;
  font-family: parisplus-std, sans-serif;
  opacity: 0.4;
  cursor: pointer;
}
.input__choice input {
  display: none;
}
.input__choice input:checked + span {
  opacity: 1;
}
.input__group {
  margin-bottom: 1rem;
  width: 100%;
}
.input__group:last-child {
  margin-bottom: 0;
}
.input__group input, .input__group select, .input__group textarea {
  width: 100%;
  font-family: parisplus-std, sans-serif;
  margin-top: 0.8rem;
}
.input__group input::placeholder, .input__group select::placeholder, .input__group textarea::placeholder {
  color: white;
  opacity: 0.4;
}
.input__group span {
  display: block;
}
.input__group small.input__help {
  display: block;
  opacity: 0.6;
  font-family: parisplus-std, sans-serif;
  margin-top: -0.1rem;
}
.input label {
  display: block;
  text-transform: lowercase;
}
.input .btn[type=submit] {
  margin-top: 1.2rem;
  padding: 0.6rem 1rem;
  background-color: #FAFAFA;
  color: #767676;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: lowercase;
  border-radius: 10px;
  width: 100%;
}

[data-form] {
  width: fit-content;
  width: 100%;
  padding: 2rem;
  background-color: #12255E;
  border-radius: 20px;
}
[data-form] * {
  color: white;
}
[data-form] .mapbox {
  width: calc(100% + 4rem);
  margin-left: -2rem;
  margin-right: -2rem;
}
[data-form] label span {
  text-transform: lowercase;
  user-select: none;
}
[data-form] label span + input, [data-form] label span + select, [data-form] label span + textarea {
  margin-top: 0.6rem;
}
[data-form] label input, [data-form] label select, [data-form] label textarea {
  padding: 0.8rem 1rem;
  background-color: #253484;
}
[data-form] label input, [data-form] label input:focus, [data-form] label input:focus-within, [data-form] label select, [data-form] label select:focus, [data-form] label select:focus-within, [data-form] label textarea, [data-form] label textarea:focus, [data-form] label textarea:focus-within {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 10px;
}
[data-form] .input__group {
  position: relative;
}
[data-form] .input__group.inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1rem;
  background-color: #253484;
  border-radius: 10px;
}
[data-form] .input__group.inline span {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-right: 2rem;
  white-space: nowrap;
  line-height: 1.3rem;
}
[data-form] .input__group.inline span i.uil {
  margin-right: 0.6rem;
  font-size: 1.2rem;
}
[data-form] .input__group.inline select {
  width: fit-content;
  margin-top: 0;
  padding: 0px;
  background: transparent;
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.835);
}
[data-form] .input__group.inline input {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  text-align: right;
}
[data-form] .input__group.inline input::placeholder {
  opacity: 1 !important;
}
[data-form] .input__group input, [data-form] .input__group textarea {
  color: rgba(255, 255, 255, 0.835);
}
[data-form] .input__group input::placeholder, [data-form] .input__group textarea::placeholder {
  opacity: 0;
}
[data-form] .input__group input:not(:placeholder-shown) + span, [data-form] .input__group input:focus + span, [data-form] .input__group input:focus-within + span, [data-form] .input__group textarea:not(:placeholder-shown) + span, [data-form] .input__group textarea:focus + span, [data-form] .input__group textarea:focus-within + span {
  top: -2px;
  transform: translateY(0px);
}
[data-form] .input__group input + span, [data-form] .input__group textarea + span {
  position: absolute;
  top: 1.7rem;
  left: 1rem;
  transform: translateY(-23%);
  display: block;
}
[data-form] .input__group textarea + span {
  top: 1.4rem;
}
[data-form] .input__group textarea:not(:placeholder-shown) + span, [data-form] .input__group textarea:focus + span, [data-form] .input__group textarea:focus-within + span {
  top: -2px;
}
[data-form] .input__group + hr {
  margin-bottom: 2rem;
}
[data-form] * > .input__group:first-child:not(.inline) {
  margin-top: -0.8rem;
}
[data-form] * > .input__group:first-child:not(.inline).first--ignore {
  margin-top: inherit;
}
[data-form] .input__choice span {
  background-color: #253484;
  font-family: stratos, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
[data-form] .btn[type=submit] {
  margin-top: 1.2rem;
  padding: 0.6rem 1rem;
  background-color: #44A08C;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: lowercase;
  border-radius: 10px;
  width: 100%;
}

.btn {
  white-space: nowrap;
  border-radius: 10px;
}
.btn--variable {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.btn--variable,
.btn--variable * {
  font-family: parisplus-std, sans-serif;
}
.btn--variable i.uil {
  margin-left: 0.6rem;
  font-size: 1.5rem;
}
.btn--main {
  font-size: 1.3rem;
  border-radius: 10px;
  color: white;
}
.btn--main:hover {
  color: white;
  opacity: 0.8;
}
.btn--grey {
  background: #EBEBEB;
}

[data-label=accountIntroduction] span {
  font-size: 1.4rem;
  font-weight: 600;
}
[data-label=accountIntroduction] .btn {
  margin: 0 1rem;
}

.card {
  padding: 2rem;
  background: #FAFAFA;
  border: none;
  border-radius: 10px;
}
.card, .card * {
  color: #5c5c5c;
}

.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url("../images/logo/logo_taptoe.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 35vw 100%;
}
.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 2rem;
}
.header__search form .input-wrapper {
  padding: 0 1rem;
}
.header__user-detail, .header__user-detail * {
  text-decoration: none;
}
.header__user-detail {
  z-index: 1000;
}
.header__ornament {
  position: absolute;
  max-height: calc(30px + 4rem);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: translateX(35%);
  z-index: -1;
}
.header__ornament img {
  object-fit: cover;
  object-position: bottom;
  max-height: inherit;
}

[data-theme-sub=listing-detail] .header {
  padding-bottom: 50px;
}

.footer {
  margin-top: auto;
}
.footer__wrapper {
  position: relative;
  margin-top: 200px;
  padding-top: 75px;
  padding-bottom: 50px;
}
.footer__logo {
  position: absolute;
  left: 50%;
  top: -28px;
  transform: translateX(-50%);
}
.footer__nav {
  width: fit-content;
}
.footer__nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer__nav ul * {
  font-family: parisplus-std, sans-serif;
}
.footer__nav ul a {
  text-decoration: none;
  color: initial;
}
.footer__nav ul li {
  --spacing: 30px;
  list-style-type: "・";
  padding-left: calc(var(--spacing)/2);
  margin-right: calc(var(--spacing)/1);
}
.footer__nav ul li:first-child {
  list-style: none;
  padding-left: 0;
}
.footer__nav ul li:last-child {
  margin-right: 0;
}

.input-wrapper {
  padding: 0.6rem 1rem;
  display: flex;
  width: fit-content;
  align-items: center;
  background-color: #e9e9e9;
  border-radius: 10px;
}
.input-wrapper input {
  height: 3rem;
  background-color: transparent;
  border: none;
  font-family: parisplus-std, sans-serif;
}
.input-wrapper input, .input-wrapper input:focus, .input-wrapper input:focus-within {
  outline: none;
  box-shadow: none;
}
.input-wrapper select {
  background-color: transparent;
}
.input-wrapper .feather {
  --size: 18px;
  width: var(--size);
  height: var(--size);
  stroke-width: 3px;
  margin-right: 1rem;
}

.topnav {
  position: fixed;
  z-index: 1;
  top: 0px;
  right: 0px;
}
.topnav, .topnav * {
  transition-duration: 0.5s;
}
.topnav[data-sesam-target].sesam.sesam-hidden {
  display: block;
  --size: 0vw;
}
.topnav.sesam-show {
  --size: calc(100vh*2);
}
.topnav__ornament {
  position: fixed;
  top: 50px;
  right: 50px;
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: #12255E;
  z-index: 100;
  transform: translate(50%, -50%);
}
.topnav_nav {
  z-index: 2;
}

.review {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 2rem;
  background-color: white;
  border-radius: 10px 10px 0 10px;
}
.review::after {
  position: absolute;
  left: 100%;
  bottom: 0px;
  content: " ";
  width: 10px;
  height: 17px;
  /* background-color: red; */
  background-image: url(../images/message_stub.svg);
  background-repeat: no-repeat;
}
.review__content {
  font-family: parisplus-std, sans-serif;
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
  line-height: 1.6rem;
  color: #868686;
}
.review__sender-img {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
}
.review__sender-name, .review__sender-org {
  display: block;
}
.review__sender-name {
  font-family: parisplus-std, sans-serif;
}

.nav {
  width: fit-content;
  background-color: #EBEBEB;
  border-radius: 10px;
  overflow: hidden;
}
.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav ul li {
  position: relative;
  color: #5c5c5c;
  text-transform: lowercase;
}
.nav ul li::after {
  --w: 2px;
  content: "";
  position: absolute;
  top: 20%;
  right: calc((var(--w)/2) * -1);
  bottom: 20%;
  width: var(--w);
  background-color: #bbbbbb;
  z-index: 1;
}
.nav ul li:last-child::after {
  display: none;
}
.nav ul li a {
  display: block;
  padding: 1rem 1.8rem;
}
.nav ul li a:hover {
  background-color: #e0e0e0;
}
.nav ul li a.anker--current {
  background-color: #D0D0D0;
}

[data-theme=page] header {
  border-bottom: 2px solid #D0D0D0;
  margin-bottom: 5rem;
}

[data-theme=page] .listing-card, [data-theme=default] .listing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: initial;
}
[data-theme=page] .listing-card .listing__type, [data-theme=default] .listing-card .listing__type {
  display: block;
  text-transform: lowercase;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
[data-theme=page] .listing-card .listing__name, [data-theme=default] .listing-card .listing__name {
  margin-bottom: 0.4rem;
  font-family: parisplus-std, sans-serif;
}
[data-theme=page] .listing-card .listing__location, [data-theme=page] .listing-card .listing__capacity, [data-theme=default] .listing-card .listing__location, [data-theme=default] .listing-card .listing__capacity {
  margin-bottom: 0;
  font-family: parisplus-std, sans-serif;
}

.mapbox-wrapper {
  position: relative;
}

[data-label=lisitingSuggestions] {
  transform: translateY(-50%);
}
[data-label=lisitingSuggestions] ul {
  display: grid;
  margin: 0;
  padding: 0px;
  background-color: #EBEBEB;
  border-radius: 10px;
  list-style: none;
  grid-template-columns: 25% 25% 25% 25%;
}
[data-label=lisitingSuggestions] ul li {
  padding: 1.2rem 1.8rem 1.2rem 0;
  grid-row: 1/1;
}
[data-label=lisitingSuggestions] ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 1.8rem;
  border-right: 2px solid #D0D0D0;
}
[data-label=lisitingSuggestions] ul li:first-child {
  padding-left: 1.8rem;
}
[data-label=lisitingSuggestions] ul li:nth-last-child(2) a {
  border-right: none;
  padding-right: 0;
}
[data-label=lisitingSuggestions] ul li:last-child {
  border: none;
  padding-left: 1.8rem;
  background-color: #D0D0D0;
  border-radius: 0px 10px 10px 0px;
}
[data-label=lisitingSuggestions] ul li:last-child a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
[data-label=lisitingSuggestions] ul li:last-child * {
  text-decoration: none;
  color: #767676;
}

.listing-card {
  text-decoration: none;
  color: initial;
}
.listing-card__type {
  display: block;
  text-transform: lowercase;
}
.listing-card__name {
  font-family: parisplus-std, sans-serif;
}
.listing-card__location {
  font-family: parisplus-std, sans-serif;
}
.listing-card a:not(.btn) {
  color: #44A08C;
  text-decoration: none;
}

.listing__details h5 {
  color: #868686;
}
.listing__details * {
  color: #5c5c5c;
}
.listing__details .row {
  --bs-gutter-x: 6rem;
}
.listing__details .container {
  max-width: 1120px;
}
.listing__pics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.6rem;
  grid-row-gap: 0.6rem;
  border-radius: 20px;
  overflow: hidden;
}
.listing__pics .listing__pic {
  min-height: 200px;
  background-color: #EBEBEB;
  font-size: 30px;
  cursor: pointer;
}
.listing__pics .listing__pic:hover {
  filter: brightness(0.8);
}
.listing__pics .listing__pic.listing__pic--main {
  grid-area: 1/1/3/3;
}
.listing__pics .listing__pic img {
  width: 100%;
  height: 100%;
}
.listing__properties {
  margin: 0;
  padding: 0;
}
.listing__properties * {
  font-family: parisplus-std, sans-serif;
}
.listing__properties li {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
  list-style: none;
  color: #868686;
}
.listing__properties li.flex-grid__item {
  margin-bottom: 0rem;
}
.listing__properties li.listing__prop--na {
  text-decoration: line-through;
  text-decoration-color: #5c5c5c;
  text-decoration-thickness: 2px;
}
.listing__properties li.listing__prop--na .uil {
  color: #D0D0D0;
}
.listing__properties li .uil {
  margin-right: 0.6rem;
}
.listing__reserve {
  width: fit-content;
  font-family: parisplus-std, sans-serif;
  font-size: 1.2rem;
}
.listing__score-summ ul {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  width: fit-content;
  list-style-type: none;
  background-color: white;
  border-radius: 20px;
  transform: translateY(-50%);
}
.listing__score-summ li {
  display: flex;
  margin-right: 1rem;
  background-color: #EBEBEB;
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  white-space: nowrap;
}
.listing__score-summ li:last-child {
  margin-right: 0;
}
.listing__score-summ .score__label {
  color: #868686;
  margin-right: 0.6rem;
}
.listing__score-summ .score__star {
  display: flex;
  align-items: center;
  font-family: parisplus-std, sans-serif;
  font-weight: bold;
  color: #797979;
}
.listing__score-summ .score__star img {
  margin-left: 0.3rem;
}
.listing__reviews {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: whitesmoke;
}

[data-theme-sub=listing-detail] .listing__header {
  position: relative;
}
[data-theme-sub=listing-detail] .listing-card {
  position: absolute;
  top: -50px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
[data-theme-sub=listing-detail] .listing-card .wrapper {
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px -7px 44px #00000014;
}
[data-theme-sub=listing-detail] .listing-card__type {
  margin-bottom: 0.6rem;
}
[data-theme-sub=listing-detail] .listing-card__name {
  font-weight: 600;
  margin-bottom: 1.4rem;
}
[data-theme-sub=listing-detail] .listing-card__contact-detail {
  margin-bottom: 0;
}
[data-theme-sub=listing-detail] .listing-card__contact-detail, [data-theme-sub=listing-detail] .listing-card__contact-detail a {
  font-family: parisplus-std, sans-serif;
  text-decoration: none;
}
[data-theme-sub=listing-detail] .mapbox .mapboxgl-ctrl-group {
  display: none;
}
[data-theme-sub=listing-detail] .footer .footer__wrapper {
  margin-top: 0px;
}

[data-label=listingsList] .listing-card {
  display: grid;
  justify-content: unset;
  grid-template-columns: 50px auto 30%;
  column-gap: 2rem;
  background-color: #EBEBEB;
  padding: 1.4rem 1.4rem 1.4rem 2rem;
  border-radius: 10px;
}
[data-label=listingsList] .listing-card > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
[data-label=listingsList] .listing-card__org-img img {
  border-radius: 100%;
  background-color: white;
}
[data-label=listingsList] .listing-card__address {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
}
[data-label=listingsList] .listing-card__address * {
  font-family: parisplus-std, sans-serif;
  color: #868686;
}
[data-label=listingsList] .listing-card__address .feather {
  --size: 20px;
  stroke: #33655B;
  stroke-width: 3px;
  margin-right: 1rem;
  width: var(--size);
  height: var(--size);
}
[data-label=listingsList] .listing-card__address .wrapper {
  font-size: 80%;
}

[data-theme-sub=listingsOverview] .mapbox {
  height: 65vh;
}
[data-theme-sub=listingsOverview] .footer__wrapper {
  margin-top: 0;
}

.mapbox * {
  cursor: crosshair;
}

.mapbox *:active {
  cursor: grabbing;
}

/*# sourceMappingURL=main.css.map */
