.btn {
    white-space: nowrap;
    border-radius: $bdRadius;
    
    &--variable {
        display: flex;
        align-items: center;
        padding: .6rem 1rem;
        background-color: $grey200;
        border-radius: $bdRadius;

        &,
        * {
            font-family: $fontSub;
        }

        // .feather {
        //     --size: 20px;
        //     width: var(--size);
        //     height: var(--size);
        //     margin-left: .6rem;
        // }
        
        i.uil {
            margin-left: .6rem;
            font-size: 1.5rem;
        }
    }
    
    &--main {
        font-size: 1.3rem;
        border-radius: $bdRadius;
        color: white;
        @extend .bg-color--second;
        
        &:hover {
            color: white;
            opacity: .8;
        }
    }
    
    &--grey {
        background: $grey400;
    }
}

[data-label="accountIntroduction"] {
    span {
        font-size: 1.4rem;
        font-weight: 600;
        @extend .color--second;
    }
    
    .btn {
        margin: 0 1rem;
    }
}