.btn {
    white-space: nowrap;
    border-radius: $bdRadius;
    text-transform: lowercase;
    width: fit-content;
    
    &:not(input) {
        display: flex;
        align-items: center;
    }
    
    i.uil {
        font-size: 1.3rem;
        margin-right: .6rem;
    }
    
    &--variable {
        display: flex;
        align-items: center;
        padding: .6rem 1rem;
        background-color: $grey200;
        border-radius: $bdRadius;

        &,
        * {
            font-family: $fontSub;
        }

        // .feather {
        //     --size: 20px;
        //     width: var(--size);
        //     height: var(--size);
        //     margin-left: .6rem;
        // }
        
        i.uil {
            margin-left: .6rem;
            font-size: 1.5rem;
        }
    }
    
    &--main-big {
        font-size: 1.3rem;
        border-radius: $bdRadius;
        color: white;
        text-transform: unset;
        @extend .bg-color--second;
        
        &:hover {
            color: white;
            opacity: .8;
        }
    }
    
    &--main, .card &--main {
        background-color: $colorMain;
        
        &, &:hover, i.uil {
            color: white;
        }
    }
    
    &--grey {background: $grey400;}
    &--grey200 {background: $grey200;}
    &--grey300 {background: $grey300;}
    &--blue500 {background: $blue500;}
}

[data-label="accountIntroduction"] {
    span {
        font-size: 1.4rem;
        font-weight: 600;
        @extend .color--second;
    }
    
    .btn {
        margin: 0 1rem;
    }
}