.header {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url('../images/logo/logo_taptoe.svg');
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: 35vw 100%;
  overflow: visible;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 2rem;
    overflow: visible;
  }
  
  &__search {
    form .input-wrapper {padding: 0 1rem;}
  }
  
  &__user-detail, &__user-detail * {
    text-decoration: none;
  }
  
  &__user-detail {
    z-index: 1000;
    
    a.btn {
      text-transform: unset;
    }
  }

  &__brand {}

  &__ornament {
    position: absolute;
    max-height: calc(30px + 4rem);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: translateX(35%);
    z-index: -1;

    img {
      object-fit: cover;
      object-position: bottom;
      max-height: inherit;
    }
  }
}

[data-theme-sub="listing-detail"] {
  .header {
    padding-bottom: 50px;
  }
}

// max-height: x y;