.reservations__list {
    .reservation {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0;
        padding: 0;
        margin-bottom: 1rem;
        background-color: $grey400;
        
        &__about {
            padding: 1.4rem;
        }
        
        &__actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 1.4rem;
        }
    }
}