* {
    transition: all .3s ease;
}

body {
    width: 100vw;
    height: 100vh;
    line-height: initial;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

#app {

}

iframe, canvas {
    &, &:focus, &:focus-within {
        outline: none;
    }
}

input, select {
    &, &:focus, &:focus-within {
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: $bdRadius;
    }
}