[data-theme="page"] {
    header {
        border-bottom: 2px solid $grey500;
        margin-bottom: 5rem;
    }
}

.listing-card {
    display: block;
    text-decoration: none;
    color: initial;
    
    .listing__type {
        display: block;
        text-transform: lowercase;
        font-size: .9rem;
        margin-bottom: .2rem;
    }
    .listing__name {
        margin-bottom: .4rem;
        font-family: $fontSub;
    }
    .listing__location {
        margin-bottom: 0;
        font-family: $fontSub;
        @extend .color--grey600;
    }
}

.mapbox-wrapper {
    position: relative;
}

[data-label="lisitingSuggestions"] {
    transform: translateY(-50%);
    
    ul {
        display: grid;
        margin: 0;
        padding: 0px;
        background-color: $grey400;
        border-radius: $bdRadius;
        list-style: none;
        grid-template-columns: 25% 25% 25% 25%;
        
        li {
            padding: 1.2rem 1.8rem 1.2rem 0;
            grid-row: 1/1;
            
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                padding-right: 1.8rem;
                border-right: 2px solid $grey500;
            }
            
            &:first-child {
                padding-left: 1.8rem;
            }
            
            &:nth-last-child(2) a {
                border-right: none;
                padding-right: 0;
            }
            
            &:last-child {
                border: none;
                padding-left: 1.8rem;
                background-color: $grey500;
                border-radius: 0px $bdRadius $bdRadius 0px;
                
                a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
                
                * {
                    text-decoration: none;
                    color: $grey700;
                }
            }
        }
    }
}