[data-theme="default"] {
    header {
        border-bottom: 2px solid $grey500;
        margin-bottom: 5rem;
    }
}

.listing-card {
    display: block;
    text-decoration: none;
    color: initial;
    
    .listing__type {
        display: block;
        text-transform: lowercase;
        font-size: .9rem;
        margin-bottom: .2rem;
    }
    .listing__name {
        margin-bottom: .4rem;
        font-family: $fontSub;
    }
    .listing__location {
        margin-bottom: 0;
        font-family: $fontSub;
        @extend .color--grey600;
    }
}

.mapbox-wrapper {
    position: relative;
}

[data-label="lisitingSuggestions"] {
    transform: translateY(-50%);
    
    ul {
        display: grid;
        margin: 0;
        padding: 1rem 1.4rem 1.2rem 1.4rem;
        background-color: $grey400;
        border-radius: $bdRadius;
        list-style: none;
        grid-template-columns: 25% 25% 25% 25%;
        
        li {
            display: flex;
            align-items: center;
            padding: 0 2rem;
            grid-row: 1/1;
            border-right: 2px solid $grey500;
            // max-width: calc(100%/5);
            
            &:first-child {
                padding-left: 0;
            }
            
            &:last-child {
                border: none;
                padding-right: 0;
            }
        }
    }
}