.listing-card {
    text-decoration: none;
    color: initial;
    
    &__type {
        display: block;
        text-transform: lowercase;
    }
    
    &__name {
        font-family: $fontSub;
    }
    &__location {
        font-family: $fontSub;
        @extend .color--grey600;
    }
    
    a:not(.btn) {
        color: $colorMain;
        text-decoration: none;
    }
}

.listing {
    &__properties {
        margin: 0;
        padding: 0;
        
        * {font-family: $fontSub;}
        
        li {
            display: flex;
            justify-content: space-between;
            padding: .8rem 0;
            list-style: none;
            color: $grey600;
            border-bottom: 1px solid $grey500;
        }
    }
    
    &__reserve {
        width: fit-content;
        font-family: $fontSub;
        font-size: 1.2rem;
    }
    
    &__details {
        .row {
            --bs-gutter-x: 6rem;
        }
        
        .container {
            max-width: 1120px;
        }
    }
    
    &__score-summ {
        ul {
            display: flex;
            margin: 0 auto;
            padding: 1rem;
            width: fit-content;
            list-style-type: none;
            background-color: white;
            border-radius: $bdRadius*2;
            transform: translateY(-50%);
        }
        
        li {
            display: flex;
            margin-right: 1rem;
            background-color: $grey400;
            padding: .5rem .8rem;
            border-radius: $bdRadius;
            white-space: nowrap;
            
            &:last-child {
                margin-right: 0;
            }
        }
        
        .score__label {
            color: $grey600;
            margin-right: .6rem;
        }
        .score__star {
            display: flex;
            align-items: center;
            font-family: $fontSub;
            font-weight: bold;
            color: rgb(121, 121, 121);
            
            img {
                margin-left: .3rem;
            }
        }
    }
}


[data-theme="listing-detail"] {
    .listing {
        &__header {
            position: relative;
        }
        
        &-card {
            position: absolute;
            top: -50px;
            left: 0px; right: 0px;
            z-index: 1;
            
            .wrapper {
                padding: 2rem;
                background-color: white;
                border-radius: $bdRadius;
                box-shadow: 0px -7px 44px #00000014;
            }
            
            &__type {
                margin-bottom: 0.6rem;
            }
            
            &__name {
                font-weight: 600;
                margin-bottom: 1.4rem;
            }
            
            &__contact-detail {
                margin-bottom: 0;
                
                &, a {
                    font-family: $fontSub;
                    text-decoration: none;
                    @extend .color--main;
                }
            }
        }
    }
    
    .mapbox {
        .mapboxgl-ctrl-group {
            display: none;
        }
    }
}